 /*Declaration variable*/
 :root {
    --maincolorGlob:rgb(131, 136, 131);
    --maincolorLoc:rgb(57, 209, 57);
 }
 .container {
   
    background-color: azure;
    display: grid;
    grid-auto-rows: minmax(200px,auto);
    grid-template-areas: 
    "header header header header header"
    "section section section section section"
    "footer footer footer footer footer" 
    ;
    grid-gap: 8px;
 }
 .box {
    background-color: bisque;
    color: blue;
    text-align: center;
 }
 .header {
    grid-area: header;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    
    grid-gap: 10px;
    color: blue;
 }
 .section {
  grid-area: section;
 
 }
 .footer {
   grid-area: footer;
 }